/* Page Start */
body {
  background: url("./bottles.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Add some content on the video/page */
.content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  padding: 20px;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 95px;
  text-align: center;
}

p {
  font-family: "Francois One", sans-serif;
  font-size: 25px;
  text-align: center;
}

.card-title {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  text-align: center;
  color: orange !important;
}

ul {
  font-family: "Francois One", sans-serif;
  font-size: 20px;
  text-align: center;
}

.card-action {
  font-family: "Francois One", sans-serif;
  font-size: 20px;
  text-align: center;
}

#whiskeyImg {
  max-width: 100%;
  height: auto;
}

/* Page End */

/* Filter button start */
a#filter.btn-floating {
  right: 225px;
  position: relative;
  top: 45px;
}

/* Filter Button end */

/* Text Bar Start */

label.active {
  color: orange !important;
}

input:focus {
  border-bottom: 1px solid orange !important;
  box-shadow: 0 1px 0 0 orange !important;
}

textarea:focus,
input:focus {
  font-family: "Pacifico", cursive;
  color: white;
}

input,
select,
textarea {
  font-family: "Pacifico", cursive;
  color: white;
}

/* Text Bar End */

/* Map Start */

#mapContainer {
  position: relative;
  top: 5%;
  left: 0%;
  width: 500px;
  height: 500px;
  background-color: aqua;
  margin-bottom: 2rem;
}

#my-map {
  position: relative;
  top: 12.5%;
  left: 12.5%;
  width: 75%;
  height: 75%;
}

/* Map End */

/* Text Bar Color Shenanigans */
/* Text Bar End input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
} */
