/* Page Start */
body {
  background: url("./bottles.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Add some content on the video/page */
.content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  padding: 20px;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 95px;
  text-align: center;
}

p {
  font-family: "Francois One", sans-serif;
  font-size: 25px;
  text-align: center;
}

.card-title {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  text-align: center;
  color: orange !important;
}

ul {
  font-family: "Francois One", sans-serif;
  font-size: 20px;
  text-align: center;
}

.card-action {
  font-family: "Francois One", sans-serif;
  font-size: 20px;
  text-align: center;
}

#whiskeyImg {
  /* max-width: 100%; */
  /* height: auto; */
  height: 100%;
  width: 100%;
  /* width: 100%; */
}

/* #imgDiv {
  padding: 120px 120px 120px 120px 120px;

} */

#imgDiv {
  width: 300px;
  height: 300px;
}

.sidenav {
  background-color: #546e7a !important;
}

/* Page End */

/* Filter button start */
a#filter.btn-floating {
  right: 225px;
  position: relative;
  top: 45px;
}

/* Filter Button end */

/* Text Bar Start */
.select-wrapper + label {
  top: -35px;
}
label.active {
  color: orange !important;
}

input:focus {
  border-bottom: 1px solid orange !important;
  box-shadow: 0 1px 0 0 orange !important;
}

textarea:focus,
input:focus {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 25px !important;
}

input,
select,
textarea {
  font-family: "Pacifico", cursive;
  color: orange;
  text-align: center;
  font-size: 20px !important;
}

h3 {
  font-family: "Pacifico", cursive;
  text-align: left;
  font-size: 15px;
  /* color: gray; */
  /* left: 0.75em; */
  /* position: relative; */
  color: orange;
  text-align: center;
  font-size: 20px !important;
}

/* Text Bar End */

/* Map Start */

#mapContainer {
  position: relative;
  /* top: 25%;
  left: 10%; */
  width: 100%;
  /* width: 400px; */
  height: 500px;
  background-color: orange;
  margin-bottom: 2rem;
}

/* #mapColumn {
  clear: right;
} */

#my-map {
  position: relative;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
}
.select-dropdown {
  color: orange;
  text-align: center;
  font-family: "Pacifico", cursive;
  /* padding: 4px; */
}

.range-field {
  position: relative;
  top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* .m12 {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
} */

/* .row {
  overflow-wrap: wrap;
} */

/* Map End */

/* Text Bar Color Shenanigans */
/* Text Bar End input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
} */
/* @media only screen and (max-width: 992px) {
  #mapContainer { */
    /* position: absolute;  */
    /* top: 75%;
    left: 45%; */
    /* float: right;
    width: 80%;
    height: 400px;
    background-color: orange;
    margin-bottom: 2rem;
  }

  #my-map {
    position: relative;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
  }
}
